.imagebg {
  background: linear-gradient(rgba(2, 2, 2, 0.39), rgba(0, 0, 0, 0.993)),
    url("https://image.tmdb.org/t/p/w500/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  overflow: hidden;
}

.img {
  box-shadow: -10px 14px 20px 1px rgba(0, 0, 0, 1);
}
.heading {
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 400;
}

.headingValue {
  color: white;
  font-weight: 800;
}

@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url("https://image.tmdb.org/t/p/w500/n6bUvigpRFqSwmPp1m2YADdbRBc.jpg");
  }
}
